<section>
  <div class="new exterior">
    <div class="cat_top">
      <div class="cat_top1">
        <span>最 新 发 布 / N E W</span>
      </div>
      <div class="cat_top2">
        <a>更多</a>
      </div>
      <div class="cat_top3">
        <ul>
          <a (click)="liBack(0)"><li [ngClass]="{'liBack':liStart[0]}">风景画</li></a>
          <a (click)="liBack(1)"><li [ngClass]="{'liBack':liStart[1]}">素描</li></a>
          <a (click)="liBack(2)"><li [ngClass]="{'liBack':liStart[2]}">版画</li></a>
          <a (click)="liBack(3)"><li [ngClass]="{'liBack':liStart[3]}">油画</li></a>
        </ul>
      </div>
    </div>
    <div class="new_img" id="new_img">
      <div name="newRelease">
        <a href="task.html"><img src="../../../assets/images/newImg/1.jpg" ></a>
      </div>
      <div name="newRelease">
        <a href="task.html"><img src="../../../assets/images/newImg/2.jpg" ></a>
      </div>
      <div class="new_img_child">
        <div name="newRelease">
          <a href="task.html"><img src="../../../assets/images/newImg/3.jpg" ></a>
        </div>
        <div name="newRelease">
          <a href="task.html"><img src="../../../assets/images/newImg/4.jpg" ></a>
        </div>
      </div>
      <div class="new_img_child2">
        <div name="newRelease">
          <a href="task.html"><img src="../../../assets/images/newImg/5.jpg" ></a>
        </div>
        <div name="newRelease">
          <a href="task.html"><img src="../../../assets/images/newImg/6.jpg" ></a>
        </div>
        <div name="newRelease">
          <a href="task.html"><img src="../../../assets/images/newImg/7.jpg" ></a>
        </div>
        <div name="newRelease">
          <a href="task.html"><img src="../../../assets/images/newImg/8.jpg" ></a>
        </div>
      </div>
    </div>
  </div>
</section>
