.exterior{
  width: 100%;
  /*85px*/
  margin-top: 85px;
}



.cat_top,.artist_top{
  height: 45px;
  width: 100%;
  border-bottom:solid 1px #b7b7b7;
  box-sizing: border-box;
}
.cat_top .cat_top1{
  /*250px*/
  width: 250px;
  /*45px*/
  height: 45px;
  float: left;
  font-size: 24px;
}
.cat_top .cat_top1>span{
  font-weight: 600;
  /*45px*/
  line-height: 45px;
}
.cat_top .cat_top2{
  /*50px*/
  width: 50px;
  /*45px*/
  height: 45px;
  float: left;
  margin-left: 50px;
  /*20px*/
  font-size: 20px;
  text-align: center;
}
.cat_top .cat_top2 a{
  text-decoration: none;
  color: #000;
  line-height: 45px;
  /*14px*/
  font-size: 14px;
}
.cat_top .cat_top2 a:hover{
  cursor: pointer;
}

.cat_top .cat_top3{
  float: right;
  height: 100%;
  /*448px*/
  width: 448px;
}
.cat_top .cat_top3 ul{
  list-style: none;
}
.cat_top .cat_top3 ul>a{
  width: 7em;
  height: 44px;
  cursor: pointer;
}
.cat_top .cat_top3 ul>a:visited+li{
  border: solid 1px grey;
  background: white;
}
.cat_top .cat_top3 ul li{
  float: left;
  width: 25%;
  text-align: center;
  /*45px*/
  line-height: 44px;
}
.cat_top .cat_top3 ul li:hover{
  color: black;
  font-weight: 600;
  font-size: 18px;
}
.liBack{
  border: 1px solid rgba(0, 0, 0, 0.31);
  border-bottom: 0px;
  color: black;
  background: white;
}

/*new 最新发布*/
.new{
  /*375px*/
  height: 375px;
}
.new .new_img{
  display: flex;
  width: 100%;
  height: 280px;
  margin-top: 40px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.new .new_img>div:nth-child(1),.new .new_img>div:nth-child(2){
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.67);
}
.new .new_img>div{
  width: 280px;
  height: 280px;
}
.new .new_img img{
  object-fit:cover;
  height: 280px;
  width: 280px;
  cursor: pointer;
  transition: all 0.6s;
}
.new .new_img img:hover{
  transform: scale(.9,.9);
}
.new .new_img .new_img_child{
  position: relative;
}
.new .new_img .new_img_child2{
  display: flex;
  box-shadow: none;
  /*自动换行*/
  flex-wrap: wrap;
  /*在一行内左右不留空隙  中间部分均匀分布*/
  justify-content: space-between;
  /*换行后贴紧容器的上下左右边框*/
  align-content: space-between;
}

.new .new_img .new_img_child>div,.new .new_img .new_img_child2>div{
  height: 130px;
  width: 130px;
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.67);
}
.new .new_img .new_img_child>div img,.new .new_img .new_img_child2>div img{
  height: 130px;
  width: 130px;
  object-fit:cover;
}

.new .new_img .new_img_child>div:last-child{
  position: absolute;
  bottom: 0px;
  right: 0px;
}
