<!--顶部导航栏-->
<div class="row">
  <div class="col-md-12">
    <app-nav></app-nav>
  </div>
</div>

<div class="col-md-12">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="addTask">
      <div class="add_header">
        <div><a>>1. 发布任务</a></div>
        <div><a>>2. 指定任务接受者</a></div>
        <div><a>>3. 接收作品确认任务完成</a></div>
      </div>
      <div class="addSuccess">
        <div>
          <span>悬赏发布成功！</span>
        </div>
        <div>
          <span>选择收货地址：</span><br>
          <div></div>
          <a href="">添加收货地址</a>
        </div>
      </div>
    </div>
  </div>
</div>
