<section>
  <div class="artist exterior">
    <div class="artist_top">
      <div class="artist_top1">
        <span>艺 术 家 / A R T I S T</span>
      </div>
    </div>
    <div class="artist_img">
      <div>
        <div>
          <img src="../../../assets/images/recommend/4.jpg"/>
          <img src="../../../assets/images/recommend/4.jpg"/>
        </div>
        <p><a>张三</a></p>
      </div>
      <div>
        <p><a>张三</a></p>
        <div>
          <img src="../../../assets/images/recommend/3.jpg"/>
          <img src="../../../assets/images/recommend/3.jpg"/>
        </div>
      </div>
      <div>
        <div>
          <img src="../../../assets/images/recommend/2.jpg"/>
          <img src="../../../assets/images/recommend/2.jpg"/>
        </div>
        <p><a>张三</a></p>
      </div>
      <div>
        <p><a>张三</a></p>
        <div>
          <img src="../../../assets/images/recommend/1.jpg"/>
          <img src="../../../assets/images/recommend/1.jpg"/>
        </div>
      </div>
    </div>
  </div>
</section>
