<div class="col-md-10">
  <div class="col-md-12">

    <div class="panel    col-md-12">
      <div class="panel-body col-md-2">
        昵称：
      </div>
      <input class="panel-footer col-md-10" value="{{user_name}}" name="user_name" [(ngModel)]="user_name">
    </div>

    <div class="panel    col-md-12">
      <div class="panel-body col-md-2">
        性别：
      </div>
      <input class="panel-footer col-md-10" value="{{user_sex}}" name="user_sex" [(ngModel)]="user_sex">
    </div>

    <div class="panel    col-md-12">
      <div class="panel-body col-md-2">
        个新签名：
      </div>
      <input class="panel-footer col-md-10" value="{{user_gexing}}" name="user_gexing" [(ngModel)]="user_gexing">
    </div>

    <div class="panel    col-md-12">
      <div class="panel-body col-md-2">
        邮箱：
      </div>
      <input class="panel-footer col-md-10" value="{{user_email}}" name="user_email" [(ngModel)]="user_email">
    </div>

    <div class="panel    col-md-12">
      <div class="panel-body col-md-2">
        微博：
      </div>
      <input class="panel-footer col-md-10" value="{{user_weibo}}" name="user_weibo" [(ngModel)]="user_weibo">
    </div>
    <div class="panel    col-md-12">
      <div class="panel-body col-md-2">
        手机：
      </div>
      <input class="panel-footer col-md-10" value="{{user_phone}}" name="user_phone" [(ngModel)]="user_phone">
    </div>

    <div class="panel    col-md-12">
      <div class="panel-body col-md-2">
        生日：
      </div>
      <!--<select name = "year" id = "year">-->
        <select  id = "year" value="{{year}}" name="year" [(ngModel)]="year">

        <option></option>
        <option>1950</option>
        <option>1951</option>
        <option>1952</option>
        <option>1953</option>
        <option>1954</option>
        <option>1955</option>
        <option>1956</option>
        <option>1957</option>
        <option>1958</option>
        <option>1959</option>
        <option>1960</option>
        <option>1961</option>
        <option>1962</option>
        <option>1963</option>
        <option>1964</option>
        <option>1965</option>
        <option>1966</option>
        <option>1967</option>
        <option>1968</option>
        <option>1969</option>
        <option>1970</option>
        <option>1971</option>
        <option>1972</option>
        <option>1973</option>
        <option>1974</option>
        <option>1975</option>
        <option>1976</option>
        <option>1977</option>
        <option>1978</option>
        <option>1979</option>
        <option>1980</option>
        <option>1981</option>
        <option>1982</option>
        <option>1983</option>
        <option>1984</option>
        <option>1985</option>
        <option>1986</option>
        <option>1987</option>
        <option>1988</option>
        <option>1989</option>
        <option>1990</option>
        <option>1991</option>
        <option>1992</option>
        <option>1993</option>
        <option>1994</option>
        <option>1995</option>
        <option>1996</option>
        <option>1997</option>
        <option>1998</option>
        <option>1999</option>
        <option>2000</option>
        <option>2001</option>
        <option>2002</option>
        <option>2003</option>
        <option>2004</option>
        <option>2005</option>
        <option>2006</option>
        <option>2007</option>
        <option>2008</option>
        <option>2009</option>
        <option>2010</option>
        <option>2011</option>
        <option>2012</option>
        <option>2013</option>
        <option>2014</option>
        <option>2015</option>
        <option>2016</option>
        <option>2017</option>
        <option>2018</option>
        <option>2019</option>
      </select>
      <label  for = "year" (change)="pro">年</label>
      <!--<select name = "mon" id = "mon">-->
        <select  id = "mon" value="{{mon}}" name="mon" [(ngModel)]="mon">

        <option></option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
      </select>
      <label for = "mon" (change)="cit()" >月</label>

      <!--<select name = "day" id = "day">-->
        <select  id = "day" value="{{day}}" name="day" [(ngModel)]="day">

        <option></option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
        <option>14</option>
        <option>15</option>
        <option>16</option>
        <option>17</option>
        <option>18</option>
        <option>19</option>
        <option>20</option>
        <option>21</option>
        <option>22</option>
        <option>23</option>
        <option>24</option>
        <option>25</option>
        <option>26</option>
        <option>27</option>
        <option>28</option>
        <option>29</option>
        <option>30</option>
        <option>31</option>
      </select>
      <label for = "day">日</label>
      <input type="text" class="panel-footer col-md-10 date" placeholder="{{user_birthday}} 请选择日期" name="user_birthday" [(ngModel)]="user_birthday">

    </div>



    <!--<div class="panel    col-md-12">-->
      <!--<div class="panel-body col-md-2">-->
        <!--地址：-->
      <!--</div>-->
      <!--&lt;!&ndash;<input class="panel-footer col-md-5" value="dd" readonly>&ndash;&gt;-->
      <!--&lt;!&ndash;<input class="panel-footer col-md-5" value="dd">&ndash;&gt;-->
      <!--<input name="" id="sel1"  type="text"  class="city_input panel-footer col-md-10" readonly="readonly">-->

      <!--&lt;!&ndash;<button  onclick="getValue();" class="col-md-1">获取</button>&ndash;&gt;-->
    <!--</div>-->

    <div class="panel    col-md-12">
      <div class="panel-body col-md-2">

      </div>
      <button type="button" class="btn btn-success col-md-5" (click)="upuser()">修改</button>
    </div>

    <div class="col-md-8" style="">
      <img src="../../../assets/images/zja/auto3.jpg"/>
      <button>修改头像</button>
    </div>
  </div>

</div>
