<div class="list-group col-md-10">
  <ul class="list-group ">
    <li class="list-group-item list-group-item-success">
      <!--<span class="badge">14</span>-->
      <button class="btn btn-warning badge">查看任务</button>
      任务名称
    </li>

    <li class="list-group-item list-group-item-success">
      <!--<span class="badge">14</span>-->
      <button class="btn btn-warning badge">查看任务</button>
      任务名称
    </li>
    <li class="list-group-item list-group-item-success">
      <!--<span class="badge">14</span>-->
      <button class="btn btn-warning badge">查看任务</button>
      任务名称
    </li>


    <li class="list-group-item list-group-item-success">
      <!--<span class="badge">14</span>-->
      <button class="btn btn-warning badge">查看任务</button>
      任务名称
    </li>

  </ul>
</div>
