<div class="col-md-10">
  <div class="col-md-12">

    <div class="panel    col-md-12">
      <div class="panel-body col-md-2">
        昵称：
      </div>
      <div class="panel-footer col-md-10">{{user_name}}</div>
    </div>

    <div class="panel    col-md-12">
      <div class="panel-body col-md-2">
        性别：
      </div>
      <div class="panel-footer col-md-10">{{user_sex}}</div>
    </div>

    <div class="panel    col-md-12">
      <div class="panel-body col-md-2">
        个新签名：
      </div>
      <div class="panel-footer col-md-10">{{user_gexing}}</div>
    </div>
    <div class="panel    col-md-12">
      <div class="panel-body col-md-2">
        微博：
      </div>
      <div class="panel-footer col-md-10">{{user_weibo}}</div>
    </div>
    <div class="panel    col-md-12">
      <div class="panel-body col-md-2">
        手机号码：
      </div>
      <div class="panel-footer col-md-10">{{user_phone}}</div>
    </div>

    <div class="panel    col-md-12">
      <div class="panel-body col-md-2">
        邮箱：
      </div>
      <div class="panel-footer col-md-10">{{user_email}}</div>
    </div>

    <div class="panel    col-md-12">
      <div class="panel-body col-md-2">
        生日：
      </div>
      <div class="panel-footer col-md-10">{{user_birthday}}</div>
    </div>
    <!--<div class="panel    col-md-12">-->
      <!--<div class="panel-body col-md-2">-->
        <!--地址：-->
      <!--</div>-->
      <!--<div class="panel-footer col-md-10">{{user_address}}</div>-->
    <!--</div>-->

    <div class="panel    col-md-12">
      <div class="panel-body col-md-2">
        认证绘师：
      </div>
      <div class="panel-footer col-md-10">{{user_huishi}}</div>
    </div>
    <div class="col-md-8">
      <img src="../../../assets/images/zja/auto3.jpg"/>
    </div>
  </div>

</div>
