<div class="container-fluid">
  <div class="row">
    <!--导航栏-->
    <div class="col-md-12" style="z-index: 2;">
      <app-nav></app-nav>
    </div>
  </div>
  <div class="row">
    <!--轮播图-->
    <div class="col-md-12">
      <app-carousel></app-carousel>
    </div>
  </div>
</div>
<div class="container ">
  <div class="row">
    <!--推荐-->
    <div class="col-md-12">
      <app-index-recommend></app-index-recommend>
    </div>
  </div>
  <div class="row">
    <!--最新发布-->
    <div class="col-md-12">
      <app-index-new></app-index-new>
    </div>
  </div>
  <div class="row">
    <!--艺术家-->
    <div class="col-md-12">
      <app-index-artist></app-index-artist>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <!--底部-->
    <div class="col-md-12 bot">
      <app-bottom></app-bottom>
    </div>
  </div>
</div>
