
.input-group{
  height: 150px;
  padding: 50px 0;
}
.input-group>input,.input-group>span>button{
  height: 50px;
}
.input-group>span>button{
  width: 100px;
  font-size: 16px;
  font-weight: 500;
}
.form-control{
  z-index: 1;
  padding-left: 5px;
}
.btn-default{
  z-index: 1 !important;
}

ul li{
  width: 150px;
  text-align: center;
}
.searchResult{
  height: 300px;
  width: 100%;
  padding-top: 10px;
}
.searchResult>div{
  padding: 20px 20px;
  height: 200px;
  border-bottom: 1px rgba(133, 133, 133, 0.51) solid;
}
.sorry{
  margin-top: 100px;
  text-align: center;
}
.result{
  height: 160px;
  width: 100%;
}
.searchTitle{
  text-align: center;
  padding-top: 32px;
}
.searchTitle>p{
  font-size: 14px;
  margin-top: 16px;
}
.searchContent{
  text-align: center;
  padding-top: 50px;
}
.searchImg{
  height: 100%;
  padding: 20px 0;
  text-align: center;
}
.searchImg>img{
  height: 120px;
  object-fit:cover;
}


.position{
  display: flex;
  justify-content: center;
  line-height: 100px;
}
