


<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-6">
    <div  class="content">
      <div class="form-group content1">
        <label for="oldpwd">旧密码</label>
        <input type="password" class="form-control" id="oldpwd"  placeholder="输入旧密码">
      </div>


      <div class="form-group content1">
        <label for="newpwd2">确认密码</label>
        <input type="password" class="form-control" id="newpwd2" placeholder="输入新密码">
      </div>
      <div class="form-group content1">
        <label for="newpwd">新密码</label>
        <input type="password" class="form-control" id="newpwd" placeholder="输入新密码">
      </div>
      <button type="submit" class="btn btn-success col-md-6" (click)="uppwd()">Submit</button>
    </div>

  </div>
  <div class="col-md-3"></div>
</div>
