@charset "UTF-8";
@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon/icomoon.eot?srf3rx");
    src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}
.font{
    font-family: 'Lantinghei SC', 'Microsoft YaHei', 微软雅黑, SimSun, Arial;
}
.index_img {
    margin-top: -5px;
}

#nav-navbar > ul li a {
    font-size: 1.15em;
    text-transform: uppercase;
    color: #000;
    font-weight: normal;
    /*font-family: "Montserrat", arial, sans-serif;*/
    font-family: 'Lantinghei SC', 'Microsoft YaHei', 微软雅黑, SimSun, Arial;

}

#nav-navbar > ul li a > span .border {
    display: block;
    height: 3px;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#nav-navbar > ul li a > span .border:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FBB040;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

#nav-navbar > ul li a:hover, #nav-navbar > ul li a:focus {
    background-color: #fff;
    outline: none;
}

#nav-navbar > ul li a:hover > span, #nav-navbar > ul li a:focus > span {
    outline: none;
}

#nav-navbar > ul li a:hover > span .border:before, #nav-navbar > ul li a:focus > span .border:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#nav-navbar > ul li.active a {
    background: transparent;
}

#nav-navbar > ul li.active a > span .border {
    background: #FBB040;
}

#nav-navbar > ul li a span i {
    font-size: 1.5em;
    color: #FBB040;
}
#nav-navbar > ul li a span{
    font-family: 'Lantinghei SC', 'Microsoft YaHei', 微软雅黑, SimSun, Arial;
}
.nav li{
    margin-top: 0.5em;
}
#nav-header{
    height: 4.5em;
    background-color: #ffffff;
    box-shadow: 0px 0px 2em rgba(177, 177, 177, 0.80);
}