.hero{
    background: #F4F4F4;
    display: flex;
    flex-direction: row;
}
.hero-top{
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}
.hero-left{
    width: 70%;
}
.hero-right{
    width: 30%;
}

.hero-technology li{
    list-style: none;
    display: inline-block;
    margin-left: 1.2em;
}
.hero-infoshow,
.hero-infoshow:focus,
.hero-infoshow:active,
.hero-infoshow:hover{
    background-color: #FAFAFA;
    border-color: #FAFAFA;
    color: #666666;
}
.hero-infoshow li{
    list-style: none;
    display: inline-block;
    margin-left: 2em;
}
/*<!--筛选标签-->*/
.heroleftbq{
    line-height: 4em;
    border-radius: 1em;
    margin: 1em;
    margin-left: 2em;
}
/*<!--筛选标签项-->*/
.heroleftli{
    width: 6em;
    line-height: 2em;
    border-radius: 1em;
    background-color: #02AF7E;
    list-style: none;
    display: inline-block;
    text-align: center;
    margin-left: 2em;
}
/*<!--筛选标签项字体·-->*/
.heroleftlifont{
    color: #FFFFFF;
}
.heroleftli:hover{
    background-color: pink;
}
.hero-ask{
    background-color:#F8F8F8;
    color:#ff6f6c ;
}
#herofabu{
    margin-left: 16em;
}
#herofabu,#herofabu:focus{
    background-color: #53D0C6;
    border: none;
}
#herofabu:hover{
    background-color: #FCB2B2;
    border: none;
}
.hero-intro,.hero-intro:focus{
    background-color: #FCB2B2;
    margin-left: 6em;
    border: none;
}
.hero-intro:hover{
    background-color: #53D0C6;
    border: none;
}
.heromy,.heromy:focus,.heromy:hover{
    background-color: #FAFAFA;
    border: none;
    color:#72D967 ;
}
.herointro{
    background-color: cornsilk;
}
.herohero{
    background-color: cornsilk;
}
.herohero ul{
    margin: 2em;
}

.hero-info ul{
    display: block;
    margin: 1em;

}
.hero-find{
    list-style: none;
    line-height: 1.8em;
    margin: 0.8em;
}
.hero-find li{
    border: solid .1em #ffffff;
}
.heroask{
    margin-left: 40em;
}
